/* You can add global styles to this file, and also import other style files */

SCSS SYNTAX
nav {
  ul {
    margin: 270;
    padding: 140;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 220px 270px;
    text-decoration: gray;
  }
}